@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "modules/home";
@import "modules/slider";
@import "modules/about";
@import "modules/contact";
@import "modules/footer";
@import "modules/audio";
@import "modules/video";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}
