@import "../variables";

.about-section {
  //margin-top: 500px;

  .about-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

    h2 {
      font-family: $font-family;
      text-decoration: none;
      color: inherit;
      font-size: 40px;
      text-transform: uppercase;
    }
  }

  .about-header {
    text-align: center;
    font-size: 18px;
    font-family: $font-family;
  }

  .about-tagline {
    width: 50%;
    position: relative;
    margin: 30px auto;
    bottom: 0;
    text-align: center;

    span {
      line-height: 1.875em;
      font-size: 15px;
      font-family: $font-family;
    }
  }

  .about-backdrop {
    display: block;
    width: 100%;
    height: 640px;
    background-color: #1f1f1f;
    overflow: hidden;
    background-image: url("/assets/images/about-back.jpg");
    background-size: cover;
    background-position: center;


    .about-tag {
      margin: auto;
      width: 60%;
      text-align: center;
      height: 100%;
      padding: 225px 0;

      p {
        font-family: $font-family;
        font-size: 40px;
        width: 100%;
        color: #fff;
      }
    }

  }
}

@media screen and (max-width: 600px) {
  .about-section {
    margin: 100px 0 0 0;

    .about-title {
      h2 {
        font-weight: 100;
        font-size: 25px;
      }
    }

    .about-tagline {
      text-align: justify;
      padding: 20px;
      width: 100%;
      margin: 5px auto;
    }

    .about-backdrop {
      height: 300px;

      .about-tag {
        padding: 80px 0 0 0;

        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
  .about-section {
    .about-title {
      padding-bottom: 20px;
      h2 {
        font-weight: 100;
        font-size: 30px;
      }
    }

    .about-tagline {
      width: 90%;
      text-align: justify;
    }

    .about-backdrop {
      height: 400px;

      .about-tag {
        padding: 150px 0 0 0;

        p {
          font-size: 20px;
        }
      }
    }
  }
}