@import "../variables";

$primary_color: rgba(0, 0, 0, 0.75);
$player_width: 20rem;
$player_padding: 1.5rem;
$player_border_radius: 0.5rem;

$button_size: 2rem;

$anim_duration: 0.5s;

.animated {
  animation-duration: $anim_duration;
}

.audio-section {
  height: 500px;
  //background: #29B6F6;
  color: rgba(255, 255, 255, 0.7);
  font-family: Raleway, sans-serif;

  .audio-content {
    padding: 10rem;

    .audioPlayer {
      height: 60%;
      position: relative;
      background-color: rgb(241, 241, 241);
      min-height: 25rem;
      width: 100rem;

      overflow: hidden;

      padding: $player_padding;
      margin: 0 auto;

      border-radius: $player_border_radius;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

      user-select: none;

      .nav-icon {
        width: 15px;
        height: 12px;

        position: absolute;
        top: ($player_padding)-($player_padding/4);
        left: $player_padding;

        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $primary_color;
          border-radius: 6px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.5s ease-in-out;
        }

        span:nth-child(1) {
          top: 0;
        }

        span:nth-child(2) {
          top: 5px;
        }

        span:nth-child(3) {
          top: 10px;
        }

        &.isActive span:nth-child(1) {
          top: 5px;
          transform: rotate(135deg);
        }

        &.isActive span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        &.isActive span:nth-child(3) {
          top: 5px;
          transform: rotate(-135deg);
        }
      }

      .audioPlayerList {
        color: $primary_color;
        width: ($player_width)-(2*$player_padding);
        transition: $anim_duration;
        transform: translateX(-200%);
        position: absolute;
        margin-top: $player_padding;
        overflow: auto;
        z-index: 10;
        will-change: transform;

        &.isActive {
          transform: translateX(0);
        }

        .item {
          margin-bottom: 1.5rem;
          border-left: 0.1rem solid transparent;
          transition: 0.2s;

          &:hover {
            padding-left: 0.5rem;
            cursor: pointer;
          }

          .title {
            color: rgba(0, 0, 0, 1);
            font-size: 1rem;
            margin-bottom: 0.75rem;
          }

          .artist {
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.8rem;
          }

          &.isActive {
            border-left-color: black;
            padding-left: 1rem;
          }
        }

        .debugToggle {
          cursor: pointer;
          color: red;
        }
      }

      .audioPlayerUI {
        margin-top: $player_padding;
        will-change: transform, filter;
        transition: $anim_duration;

        &.isDisabled {
          transform: scale(0.75) translateX(100%);
          filter: blur(5px) grayscale(100%);
        }

        .albumDetails {
          text-align: center;
          margin: 2rem 0;

          p {
            margin: 0;

            &.title {
              font-size: 1rem;
              color: rgba(0, 0, 0, 1);
            }

            &.artist {
              margin-top: 0.5rem;
              font-size: 0.75rem;
              color: $primary_color;
              transition-delay: 100ms;
            }
          }
        }

        .albumImage {
          width: 47rem;
          height: ($player_width)-($player_padding*2);
          overflow: hidden;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            z-index: 10;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: $player_border_radius;
          }
        }

        .playerButtons {
          position: relative;
          margin: 0 auto;
          //margin-bottom: 1.5rem;
          text-align: center;

          .button {
            font-size: $button_size;
            display: inline-block;
            vertical-align: middle;
            padding: 0.5rem;
            margin: 0 0.25rem;
            color: rgba(0, 0, 0, 0.75);
            border-radius: 50%;

            outline: 0;
            text-decoration: none;
            cursor: pointer;
            transition: $anim_duration;

            &.play {
              font-size: 2*$button_size;
              margin: 0 1.5rem;
            }

            &:active {
              opacity: 0.75;
              transform: scale(0.75);
            }

            &.isDisabled {
              color: rgba(0, 0, 0, 0.2);
              cursor: initial;
            }

            &.isDisabled:active {
              transform: none;
            }
          }
        }

        .currentTimeContainer {
          width: 100%;
          height: 1rem;

          display: flex;
          justify-content: space-between;

          .currentTime,
          .totalTime {
            font-size: 1.0rem;
            font-family: monospace;
            color: $primary_color;
          }
        }

        .currentProgressBar {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          margin: 0.75rem 0;

          .currentProgress {
            background-color: $primary_color;
            width: 0;
            height: 1px;
            transition: 100ms;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .audio-section {
    height: 300px;

    .audio-content {
      padding: 2rem;

      .audioPlayer {
        width: 30rem;

        .audioPlayerUI {
          padding: 20px;

          .albumImage {
            width: auto;
            border-radius: 3px;

            img {
              width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .audio-section {
    height: 400px;

    .audio-content {
      padding: 2rem;

      .audioPlayer {
        width: 75rem;

        .audioPlayerUI {
          padding: 20px;

          .albumImage {
            border-radius: 3px;
            text-align: center;

            img {
              width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
  .audio-section {
    .audio-content {
      .audioPlayer {
        width: 55rem;
      }
    }
  }
}