@import "../variables";

.contact-section {
  font-family: $font-family;

  .contact-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

    h2 {
      font-family: $font-family;
      text-decoration: none;
      color: inherit;
      font-size: 40px;
      text-transform: uppercase;
    }
  }

  .contact-form {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 35%;

    .emailLabel, .nameLabel, .subjectLabel {
      overflow: hidden;
    }

    input {
      color: #595f6e;
      padding-top: 30px;
      height: 60px;
      border: 0;
      outline: none;
      overflow: hidden;

      :focus {
        outline: none;
        overflow: hidden;
      }
    }

    textarea{
      color: #595f6e;
      padding-top: 100px;
      border: 0;
      outline: none;
      overflow: hidden;

      :focus {
        outline: none;
        overflow: hidden;
      }
    }

    button {
      border-radius: 0;
      color: white;
      background-color: black;
    }

    label {
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;

      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }

      .content-message-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }

      :focus {
        outline: none;
      }
    }

    label::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-bottom: 3px solid #5fa8d3;
      left: 0;
      bottom: -1px;
      transform: translateX(-105%);
      transition: transform 0.3s ease;
    }

    .messageLabel::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-bottom: 3px solid #5fa8d3;
      left: 0;
      bottom: -1px;
      transform: translateX(-105%);
      transition: transform 0.3s ease;
    }
  }

  .contact-form input:focus + .label-name .content-name,
  .contact-form input:valid + .label-name .content-name {
    transform: translateY(-200%);
    font-size: 14px;
    color: #5fa8d3;
  }

  .contact-form input:focus + .label-name::after,
  .contact-form input:valid + .label-name::after {
    transform: translateX(0%);
  }

  .contact-form textarea:focus + .label-name .content-message-name,
  .contact-form textarea:valid + .label-name .content-message-name {
    transform: translateY(-50%);
    font-size: 14px;
    color: #5fa8d3;
  }

  .contact-form textarea:focus + .label-name::after,
  .contact-form textarea:valid + .label-name::after {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 600px) {
  .contact-section {

    .contact-title {
      padding-top: 10px;
      padding-bottom: 20px;

      h2 {
        font-weight: 100;
        font-size: 25px;
      }
    }

    .contact-form{
      width: 90%;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
  .contact-section {
    .contact-title {
      padding-top: 10px;
      padding-bottom: 20px;

      h2 {
        font-weight: 100;
        font-size: 25px;
      }
    }

    .contact-form{
      width: 80%;
    }
  }
}