@import "../variables";

.footer-section {
  margin-top: 50px;
  padding: 50px;
  font-family: $font-family;
  background-color: rgb(241, 241, 241);
  
  .social-links {
    text-align: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0 10px;
        color: #000000;
        transition: color 0.4s ease 0s;
        line-height: 30px;
        font-size: 20px;

        a{
          cursor: pointer;
          color: black;

          :hover{
            color: #5fa8d3;
          }
        }
      }
    }
  }

  .copy-text{
    text-align: center;
    margin-top: 30px;
  }

}