@import "../variables";

.home-section {
  height: 500px;

  .web-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

    a {
      font-family: $font-family;
      text-decoration: none;
      cursor: pointer;
      color: inherit;
      font-size: 40px;
    }

    #logo {
      animation: fill 0.5s ease forwards 3.5s;
      cursor: pointer;

      .path-1 {
        stroke-dasharray: 375;
        stroke-dashoffset: 375;
        fill: black;
        animation: line-anim 2s ease forwards;
      }

      .path-2 {
        stroke-dasharray: 345;
        stroke-dashoffset: 345;
        animation: line-anim 2s ease forwards 0.3s;
      }

      .path-3 {
        stroke-dasharray: 410;
        stroke-dashoffset: 410;
        animation: line-anim 2s ease forwards 0.6s;
      }

      .path-4 {
        stroke-dasharray: 510;
        stroke-dashoffset: 510;
        animation: line-anim 2s ease forwards 0.9s;
      }

      .path-5 {
        stroke-dasharray: 322;
        stroke-dashoffset: 322;
        animation: line-anim 2s ease forwards 1.2s;
      }

      .path-6 {
        stroke-dasharray: 330;
        stroke-dashoffset: 330;
        animation: line-anim 2s ease forwards 1.5s;
      }

      .path-7 {
        stroke-dasharray: 460;
        stroke-dashoffset: 460;
        animation: line-anim 2s ease forwards 1.8s;
      }

      .path-8 {
        stroke-dasharray: 315;
        stroke-dashoffset: 315;
        animation: line-anim 2s ease forwards 2.1s;
      }

      .path-9 {
        stroke-dasharray: 605;
        stroke-dashoffset: 605;
        animation: line-anim 2s ease forwards 2.4s;
      }

      .path-10 {
        stroke-dasharray: 410;
        stroke-dashoffset: 410;
        animation: line-anim 2s ease forwards 2.7s;
      }
    }

    @keyframes line-anim {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill {
      from {
        fill: white;
      }
      to {
        fill: black;
      }
    }

  }

  .web-menu {
    text-align: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0 10px;
        color: #000000;
        transition: color 0.4s ease 0s;
        line-height: 30px;

        a{
          color: #000;
          text-decoration: none;

          :hover{
            font-size: 15px;
          }
        }
      }
    }
  }

  .web-title-tagline {
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    padding: 50px;

    h1 {
      line-height: 2.25em;

      .tagline {
        font-size: 65px;
        font-family: $font-family;
        text-transform: uppercase;
      }
    }

    h3 {
      line-height: 1.25em;

      .tagline {
        font-size: 20px;
        font-family: $font-family;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-section {
    height: 300px;

    .web-title {
      svg {
        height: 20px;
      }
    }

    .web-menu {
      display: none;
    }

    .web-title-tagline {
      padding: 0;

      h1 {
        line-height: 1em;

        .tagline {
          font-weight: 100;
          font-size: 25px;
        }
      }

      h3{
        .tagline {
          font-weight: 100;
          font-size: 20px;
        }
      }
    }
  }
}


@media only screen and (min-width: 600px) and (max-width: 1200px){

  .home-section {
    height: 300px;

    .web-title {
      svg {
        height: 25px;
      }
    }

    .web-menu {
      display: none;
    }

    .web-title-tagline {
      padding: 0;

      h1 {
        line-height: 1em;

        .tagline {
          font-size: 30px;
        }
      }

      h3{
        .tagline {
          font-weight: 100;
          font-size: 25px;
        }
      }
    }
  }

}
