.slider-section{
  height: 670px;

  img{
    height: 670px;
  }
}

@media screen and (max-width: 600px) {
  .slider-section{
    height: 300px;

    img{
      height: 300px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){

  .slider-section{
    height: 400px;

    img{
      height: 400px;
      width: 100%;
    }
  }

}