@import "../variables";

.video-section {
  background-color: rgb(241, 241, 241);

  .video-player {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    padding: 50px;
    display: flex;
    width: 1200px;
    margin: auto;

    .video-container {
      margin-right: 40px;

      .iframe-container {
        width: 640px;
        height: 450px;
      }
    }

    .video-list {

      hr {
        border: 1px solid #2c3e50;
        opacity: 10%;
      }

      .thumbnail {
        display: flex;
        cursor: pointer;
        border: 1px solid rgb(241, 241, 241);
        padding: 10px;
        background-color: rgb(241, 241, 241);

        &:hover {
          border: 1px solid #2c3e50;
        }

        .thumbnail-img {
          img {
            width: 168px;
            border-radius: 5px;
          }
        }

        .thumbnail-info {
          margin-left: 20px;

          h3 {
            font-size: 16px;
          }

          h3,
          p {
            margin: 0;
            padding: 0;
          }

          .thumbnail-views {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .video-section {
    .video-player {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;

      .video-container{
        margin-right: 0;

        h3{
          font-size: 20px;
        }

        .iframe-container{
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .video-section {
    .video-player {
      width: 100%;
      display: flex;
      flex-direction: column;

      .video-container {
        margin-right: 0;
      }
    }
  }
}