<template>
    <carousel :autoplay="true" :nav="false" :items="1" :dots="false">

        <img alt="" src="/assets/images/Slider1.jpg">

        <img alt="" src="/assets/images/Slider2.jpg">

        <img alt="" src="/assets/images/Slider3.jpg">

        <img alt="" src="/assets/images/Slider5.jpg">

    </carousel>
</template>

<script>
    import carousel from 'vue-owl-carousel'

    export default {
        name: "HomeSlider",

        components: { carousel },
    }
</script>

<style scoped>

</style>