<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "YoutubePlayer",
        data() {
            return {}
        },

        computed: {
            ...mapGetters({
                videos: 'getVideos',
                activeVideo: 'getActiveVideo'
            })
        },

        methods: {
            chooseVideo(video) {
                this.$store.commit('CHOOSE_VIDEO', video);
            },
            fetchVideos() {
                this.$store.dispatch('getVideos');
            }
        },

        created() {
            this.fetchVideos();
        }
    }
</script>

<template>
    <div class="video-player">
        <div class="video-container" v-if="activeVideo">
            <iframe class="iframe-container" :src="activeVideo.videoId"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            <h3>{{activeVideo.title}}</h3>
        </div>
        <div class="video-list">
            <div v-on:click="chooseVideo(video)" :key="video.id" v-for="video in videos">
                <div class="thumbnail">
                    <div class="thumbnail-img">
                        <img alt="" :src="video.thumbnail"/>
                    </div>
                    <div class="thumbnail-info">
                        <h3>{{video.title}}</h3>
                        <p>{{video.creator}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>